/* .container_header{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 150px;
}

.menu nav ul{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
} 

.social_media{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
} 

.cover{
    display: flex;

} */